<%- include('../partials/navbar.ejs') %>
<center>
  <h1 class="text-success">About us</h1>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h4 class="pt-4 text-secondary">About our company</h4>
        <h1 class="py-4">Safe Logistic & Transport Solutions That Saves our Valuable Time!</h1>
        <p class="mx-auto w-75">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aliquam
          maiores fuga ut provident asperiores totam sint perferendis possimus?
          Ducimus tempore in corporis commodi sint delectus ex vel sequi
          quaerat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sint libero rem non,
           vitae dicta? 
        </p>
        <button class="btn btn-success">Know more about us</button>
      </div>
      <div class="col-md-6">
          <img src="/img/myimg.png" width="70%" alt="" class="float-end">
      </div>
    </div>
  </div>
</center>
<%- include('../partials/footer.ejs') %>
